.searchbar {
  display: flex;
  /* align-items: center; */
  height: 3rem;
  width: 40rem;
  border: none;
  margin: 0px auto;
  border-radius: 50px;
  border-color: transparent;
  box-shadow: 0px 1px 3px grey;
  position: flex;
  /* position:fixed; */
}

#search {
  width: 100%;
  outline: none;
  border: none;
  background-color: transparent;
  padding: 2px 0px 2px 10px;
}
#searchbtn {
  padding: 0rem 1rem;
  border-radius: 2rem;
  background-color: #007bff;
  border: none;
  color: white;
  font-size: 16px ;
  
}

.searchbar:hover {
  background-color: #f0f0f0; 
  border-color: #0056b3;     
  cursor: pointer;          
  transition: all 0.3s ease;
  display: flex;

}
