.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: relative;
    background-color: #fff;
    margin-top: 4rem;
    margin-bottom: 5rem;
  }
  
  .signup-form {
    background-color: #f2f2f2;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    width: 100%;
    max-width: 800px;
  }
  
  .background-pic-container {
    position: relative;
    width: 100%;
    /* margin-bottom: 20px; */
    margin-top:3rem;
  }
  
  .background-preview {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    border: 2px solid;
    border-style: dashed;
  }
  
  .profile-pic-container {
    position: absolute;
    bottom: -5px;
    left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  .profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid;
    border-style: dashed;

  }
  
  .profile-pic-input,
  .background-pic-input {
    display: none;
  }
  
  .edit-button {
    /* margin-top: 8px; */
    padding: 8px 16px;
    /* background-color: #007bff; */
    color: black;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .edit-button:hover {
    background-color: #0056b3;
  }
  
  .upload-button {
    display: inline-block;
    margin-left: 40rem;
    margin-top: -8rem;
    padding: 8px 16px;
    /* background-color: #007bff; */
    color: black;
    border:none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
  }
  
  .upload-button:hover {
    background-color: #0056b3;
  }
  
  .form-columns {
    display: flex;
    justify-content: space-between;
    margin-top: 70px; /* Adjust to push form fields down below profile pic */
  }
  
  .left-column, .right-column {
    flex: 1;
    margin-right: 20px;
  }
  
  .right-column {
    margin-right: 0;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .signup-button {
    width: 100%;
    padding: 10px;
    background-color: #34e0a1;
    color: black;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
  }
  
  .signup-button:hover {
    background-color: #0056b3;
  }
  